

/*variables*/

:root {
    --col: #fff;
    --complement: #272727;
    --complement_extreme: #000;
    --complement_extreme_transparent: rgba(0,0,0,0.6);
    --lowcontrast: #eee;
    --mediumcontrast: #bbb;
    --highcontrast: #777;
    --menu_line_h: 1px;
    --col_num_Content: 5;
    --element_size_Content: 275px;
    --contentHeight: 1px;
}

/*generic stuff*/

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes moveIn {
    0% {transform: translate(0px,10px);}
    100% {transform: translate(0px,0px);}  
}

@keyframes scaleIn {
    0% {transform: scale(0.85); opacity: 0.8;}
    100% {transform: scale(1); opacity: 1;}  
}



@font-face { font-family: 'title';
             src: url('../res/ostrich-regular.ttf') format('truetype'); }

body {
    
    overflow: auto;
    
}


a {
    
    color: var(--complement);
    text-decoration: none;
    
}


.noselect:hover {
    
    cursor:default;
 
}


.header {
    
    width: 100%;
    height: 170px;
    
    overflow: hidden;
}


.title {
    
    width: 500px;
    height: 120px;
    line-height: 120px;
    
    position: absolute;
    
    margin-top: 0px;
    margin-left: 57px;
    
    font-family: title, sans-serif;
    font-size: 65pt;
    color: var(--complement);
    
    overflow: hidden;
}


/*MENU*/

#menu_entry {
    
    height:150px;
    
}

.menu_container {
    
    width: 100%;
    height: 32px;
    
    position: absolute;
    
    margin-top: 60px;
    margin-left: -15px;
    
    overflow: hidden;
    
    white-space: nowrap;
    
    display: flex;
    
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    
}


.menu_spacer {
    
    height: var(--menu_line_h);
    
    margin-top: 16px;
    
    background-color: var(--complement);
    
    display: inline-flex;
    flex-shrink: 0;
    
    vertical-align: middle;
    
}


.menu_spacer_invis {
    
    width: 10px;
    height: var(--menu_line_h);
    margin: 0px;
    margin-top: 16px;
    display: inline-flex;
    vertical-align: middle;
    flex-shrink: 0
}



.menu_item_disabled:hover, .menu_item_active:hover, .menu_item_back:hover, .menu_item_active_secondary:hover, .menu_item_active {
    
    height: 26px;
    padding: 4px 9px 0px 9px;
    margin: 0px;
    display: inline-block;
    
    border: 1px solid var(--complement);
    background-color: var(--complement);
    color: var(--col);
    transition: 0.07s ease-out;
    
    text-align: center;
    flex-shrink: 0

}

.menu_item_disabled {
    
    height: 26px;
    padding: 4px 9px 0px 9px;
    border-width: 0px;
    margin: 0px;
    display: inline-block;
    
    border: 1px solid var(--col);
    
    text-align: center;
    flex-shrink: 0
}


.menu_item_active_secondary {
    
    height: 26px;
    padding: 4px 9px 0px 9px;
    margin: 0px;
    display: inline-block;
    
    border: 1px dashed var(--complement);
    
    text-align: center;
    flex-shrink: 0
}


.menu_item_back {
    
    height: 26px;
    width: 75px;
    
    padding: 4px 9px 0px 9px;
    display: inline-block;
    
    color: var(--highcontrast);
    
    background-color: var(--lowcontrast);
    border: 1px solid var(--lowcontrast);
    
    text-align: center;
    flex-shrink: 0
}



.icon_item {
    
    position: relative;
    height: 26px;
    width: 26px;
    margin: 0px;
    margin-top:2px;
    display: inline-block;
    text-align: center;
    flex-shrink: 0
}

/*MENU|Icons*/

#icon_artst {
    
    background-image: url('../images/artstation.png');
    
}

#icon_artst:hover {
    
    background-image: url('../images/artstation_hov.png');
    
}

#icon_linked {
    
    background-image: url('../images/lin.png');
    
}

#icon_linked:hover {
    
    background-image: url('../images/lin_hov.png');
    
}

#icon_xing {
    
    background-image: url('../images/xing.png');
    
}

#icon_xing:hover {
    
    background-image: url('../images/xing_hov.png');
    
}

#icon_git {
    
    background-image: url('../images/git.png');
    
}

#icon_git:hover {
    
    background-image: url('../images/git_hov.png');
    
}

#icon_mail {
    
    background-image: url('../images/mail.png');
    
}

#icon_mail:hover {
    
    background-image: url('../images/mail_hov.png');
    
}


/*CONTENT*/


.content_block {
    width: 100%;
    height: var(--contentHeight);
    
}


.content_wrapper {
    
    margin: 50px 0px 0px 130px;
    position: relative;
    width: calc(100% - 130px);
    display: grid;
    grid-gap: 38px;
    grid-template-columns: repeat(var(--col_num_Content), auto);
    grid-auto-flow: row;
    justify-content: start;
    overflow: hidden;
}


.content_wrapper_exp {
    
    margin: 50px 0px 0px 100px;
    position: relative;
    width: calc(100% - 100px);
    overflow: hidden;
}

.content_wrapper_about {
    
    margin: 50px 0px 0px 100px;
    position: relative;
    width: calc(100% - 100px);
    overflow: hidden;
}


.content {
    
    width: var(--element_size_Content);
    height: var(--element_size_Content);
    background-color: var(--lowcontrast);
    
    background-position: center;
    
    grid-column-start: auto;
    grid-row-start: auto;
    
    cursor: pointer;
    
    position: relative;
}


.content_title_wrapper {
    
    width: var(--element_size_Content);
    height: 0px;
    
    transition: height;

    transition-delay: 0s;
    transition-duration: 0.05s;
    transition-timing-function: ease-out;
    
    border: 0px solid var(--col);
    
    background-color: var(--lowcontrast);
    
    position: absolute;
    bottom: 0px;

    border-bottom: 0px solid var(--col);

    
}

.content_title{
    
    
    height: 40px;
    
    position: absolute;
    top: 0px;
    
    margin-left: 10px;

    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    line-height: 40px;
    color: transparent;
    
}


.content:hover .content_title_wrapper {
    
    height: 40px;
    border-top-width: 5px;
    
    transition: height;
    
    
    transition-delay: 0s;
    transition-duration: 0.05s;
    transition-timing-function: ease-out;
}

.content:hover .content_title {
    
    transition: color;
    
    transition-delay: 0s;
    transition-duration: 0.05s;
    transition-timing-function: ease-out;
    color: var(--complement);
}

/*CONTENT | Project Subpages*/


.content_project {
    
    width: var(--element_size_Content);
    height: var(--element_size_Content);
    background-color: var(--lowcontrast);
    
    background-position: center;
    
    grid-column-start: auto;
    grid-row-start: auto;
    
    transform: scale(1);
    
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    
    cursor: pointer;
    
    position: relative;
}


.project_video_img {
    
    width:75px;
    height:75px;
    background-color: var(--col);
    -webkit-mask-image: url(../images/play.svg);
    -webkit-mask-size: 75px 75px;
    -webkit-mask-position: center;
    margin:100px;
    transform: scale(1);
    
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    
}

.content_project:hover {
    
    transform: scale(0.97);
    
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    
}

.content_project:hover .project_video_img {

    transform: scale(1.3);
    
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
    
}


.project_title_wrapper {
    
    display: flex;
    
}

.project_title {
    
    height: var(--element_size_Content);
    width: var(--element_size_Content);

}

.project_title_text {
    
    width: var(--element_size_Content);
    height:60px;
    font-family: 'Chivo', sans-serif;
    font-size: 20pt;
    text-align: center;
    color: var(--col);
    line-height:60px;
    
    
    
    background-color: var(--complement);
    
    animation: scaleIn ;
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0,1,1,1);
    
}

.project_title_descr_wrapper {
    
    margin: 15px;
    
    display:grid;
    
    grid-gap: 15px;
    grid-template: repeat(3, 50px) / repeat(4, 50px);
    
    justify-content: start;
    
}

.project_title_descr {
    
    width: var(--element_size_Content);
    height:210px;
    border-top: 5px solid var(--col);
    
    background-color: var(--complement);
    
    animation: scaleIn ;
    animation-delay: 0s;
    animation-duration: 0.2s;
    animation-timing-function: cubic-bezier(0,1,1,1);

    
}

.project_title_descr_icon {
    
    width:50px;
    height:50px;


    grid-column-start: auto;
    grid-row-start: auto;
    
    position: relative;
    
}


/*CONTENT|Animated content loader UI*/

.content_loader_wrapper {
    
    width:500px;
    height:30px;
    display:flex;
    margin: 20px 0px 80px 100px;
    
}


.content_loader {
    
    border: 3px solid var(--col);
    border-top: 3px solid var(--complement);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    animation: spin 2s linear infinite;
    
}

.content_loader_text {
    
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    margin-left: 30px;
    
}





.content_content {
    
    width: var(--element_size_Content);
    height: 150px;
    margin-top: 145px;
    text-align: center;
    font-family: 'Chivo', sans-serif;
    font-size: 16pt;
    
}


/*CONTENT|CODING*/

.menu_spacer_submenu {
    
    height:1px;
    width:250px;
    background-color: var(--highcontrast);
    margin: 15px 0px 0px 100px;
    
}


.content_coding_item {
    
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Chivo', sans-serif;
    margin-left: 80px;
    padding:20px;
}


.content_coding_item_error {
    
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Chivo', sans-serif;
    margin-left: 80px;
    padding:20px;
}



.content_coding_item:hover {
    
    background-color: var(--lowcontrast);
    transition-timing-function: cubic-bezier(0,1,1,1);
    transition-delay: 0s;
    transition-duration: 0.1s;
}




.content_coding {
    
    width: 1000px;
    
    
}

.content_coding_header {
    
    margin-top: 0px;
    margin-left: 50px;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: var(--complement);
    width:500px;
    line-height: 30px;
}

.content_coding_header_img {
    
    width:30px;
    height:30px;
    margin-right:20px;
    margin-left:49px;
    font-family: 'Chivo', sans-serif;
    font-size: 26px;
    color: var(--complement);
    float:left;
}




.content_headline {
    
    font-size: 22pt;
    color: var(--complement);
    
}

.content_subheadline {
    
    margin-top:2px;
    font-size: 14pt;
    color: var(--highcontrast);
    
}

.content_description {
    
    font-size: 12pt; 
    margin-top:15px;
    color: var(--complement);
}



/*CONTENT|ABOUT*/

.profileblock {

    height: 200px;
    display:flex;
    margin-top:0px;
    
}



.profilepic {
    
    background-image: url("../images/profilbild.png");
    width: 200px;
    height: 200px;
    margin: 0px 20px 0px 40px;
    
}


.profiletext {
    
    font-family: 'Chivo', sans-serif;
    font-size: 14pt;
    color: var(--complement);
    height: 200px;
    width: 1200px;
    margin: 10px 0px 0px 80px;
    
}


.skillsheader {
    
    margin: 100px 280px 50px 0px;
    font-family: 'Chivo', sans-serif;
    font-size: 30pt;
    color: var(--complement);
    text-align: center;
    
}


.skillsblock {
    
    font-family: 'Chivo', sans-serif;
    margin: 40px 200px 50px 0px;
    display:flex;
    
}


.skills_list_header {
    
    font-size: 22pt;
    color: var(--highcontrast);
    text-align: center;
    
}


.skills_list {
    
    width: 750px;
    
}

.skills_list_body {
    
    margin: 60px 10px 10px 120px;
    
}

.skills_list_item {
    
    margin: 0px 0px 0px 100px;
    font-size: 18px;
    display:flex;
    padding: 15px 15px 15px 15px;
    
}


.skills_list_item_text {
    
    width:280px;
    
}


.skills_list_item_stars {
    
    width:180px;
    display:flex;
    
}

.skills_list_item_info {
    
    position:relative;
    bottom:10px;
    width:20px;
    height:20px;
    margin: 0px 0px 0px 10px;
    background-image: url("../images/info.png");
    
}

.skills_star {
    
    width: 28px;
    height: 27px;
    background-image: url("../images/star.svg");
    margin-left: 4px;
}

.skills_star_dampen {
    
    width: 28px;
    height: 27px;
    background-color: rgba(255,255,255,0.8);
    
}

/*CONTENT|Info Popup*/


.skills_list_item_infowrapper {
    
    position:absolute;
    bottom:25px;
    left:25px;
    width:300px;
    padding: 10px 10px 10px 10px;
    z-index:100;
    background-color: var(--complement_extreme);
    color: var(--mediumcontrast);
    border: 2px solid var(--col);
    
    animation: fadeIn, moveIn ;
    animation-delay: 0s;
    animation-duration: 0.1s;
    animation-timing-function: cubic-bezier(0,1,1,1);
}

.skills_info_item_sub {
    
    margin: 2px 0px 2px 0px;
    color: var(--col);
    
}



.software_list_item_infowrapper {
    
    position:absolute;
    bottom:55px;
    left:35px;
    padding: 5px;
    z-index:100;
    background-color: var(--lowcontrast);
    color: var(--complement);
    border: 2px solid var(--complement);
    
    
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    font-size: 12pt;
    
    
    
    animation: fadeIn, moveIn ;
    animation-delay: 0s;
    animation-duration: 0.1s;
    animation-timing-function: cubic-bezier(0,1,1,1);
}




/*FOOTER*/


.footer_wrapper {
    height: 50px;
    width:100%;
    display: inline;
    font-family: 'Chivo', sans-serif;
    font-size: 12pt;
    color: var(--highcontrast);
    
}

.footer_line {
    
    background-color: var(--complement);
    margin: 0px 50px 10px 50px;
    width: calc(100%-100px);
    height: 1px;
    
}

.footer_content {
    
    height:48px;
    width:100%;
    display: flex;
    
}

.footer_contact {
    

    vertical-align: middle;
    margin-left: auto;
    padding-left: 20px;
    width:186px;
    height: 48px;
    line-height: 48px;
    
}

.footer_copyright {
    

    margin-right:0px;
    vertical-align: middle;
    margin-right: auto;
    padding-left: 56px;
    width:400px;
    height: 48px;
    line-height: 48px;
    
}
