
@keyframes g_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.g_blocker {
    
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 800;
    background-color: rgba(0,0,0,0.95);
    
}

.g_content {
    
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    
    
    
}


.g_elem {
}


.g_arrowR {

    width:50px;
    height:50px;
    
    background-image: url(img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    
    position: fixed;
    top:50%;
    right:50px;
    transform: translate(-50%, 0px);
    transform: rotate(90deg);
    
    display:none;
    
}


.g_arrowR:hover {
    
    background-color: #fff2;
    
}


.g_arrowTurn {
    
    left:50px;
    transform: rotate(-90deg);
    
}